#include <stdio.h>
#include <stdlib.h>
#include <time.h>

int main()
{

    int numerosecreto;
    int chute;
    int acertou;
    int maior;
    int ganhou = 0;
    int tentativas = 1;
    float pontos = 1000;
    float pontosperdidos;
    int numerogrande = rand();
    int segundos = time(0);
    srand(segundos);
    numerosecreto = numerogrande % 100;


    while(ganhou == 0)
    {
        printf("Tentativa %d:\n", tentativas);
        printf("Digite seu chute:\n");
        scanf("%d", &chute);
        if(chute < 0)
        {
            printf("Voce nao pode digitar numeros negativos!\n");
            continue;
        }

        acertou = (chute == numerosecreto);
        maior = chute > numerosecreto;

        if(acertou)
        {
            printf("Parabens, Voce Acertou!\n");
            printf("Jogue de novo, voce e um bom jogador!\n");
            ganhou = 1;
        }
        else if(maior)
        {
            printf("Seu Chute foi maior que o numero secreto\n");
        }
        else
        {
            printf("Seu chute foi menor que o numero secreto\n");
        }
        tentativas++;
        pontosperdidos = abs(chute - numerosecreto) / (float)2;
        pontos = pontos - pontosperdidos;
    }
    printf("Fim de Jogo\n");
    printf("Voce acertou em %d tentativas\n", tentativas - 1);
    printf("Total de pontos %.1f\n", pontos);
    return 0;
}
